@charset "UTF-8";
/*!
 * tips.scss
 * 2016-07-17
 * Sheng Jiang
 * 1.0.0.0
 */
@import "variables";
@import "mixins";

$img: url(../../img/lv/icon.png);
$img2x: url(../../img/lv/icon@2x.png);

.nova-tip,
.nova-tip-box {
  a {
    color: #0099cc;
  }
  a:hover {
    color: #ff6600;
  }
}

/*region 提示文本*/
.nova-tip,
.nova-tip-form {
  vertical-align: top;
  font-family: $sans-serif;
  font-size: 12px;
  color: #333333;
  line-height: 18px;
  .nova-icon-xs {
    float: left;
    margin: 2px 5px 0 -19px;
  }
  .nova-tip-text {
    padding-left: 19px;
  }
}

.nova-tip {
  background-color: #f6f6f6;
  border: 1px solid #dddddd;
  padding: 8px 31px 8px 10px;
}

.nova-tip-form {
  display: inline-block;
  padding: 8px 10px 8px 19px;
}

.nova-tip-close {
  float: right;
  right: 0;
  top: 0;
  margin: -8px -31px 0 0;
  padding: 10px;
  display: block;
  cursor: pointer;
  i {
    width: 11px;
    height: 11px;
    background-image: $img;
    background-position: -240px -200px;
    display: block;
  }
  &:hover {
    i {
      background-position: -260px -200px;
    }
  }
}

.nova-tip {
  &.nova-tip-default,
  &.nova-tip-success,
  &.nova-tip-error,
  &.nova-tip-warning,
  &.nova-tip-info,
  &.nova-tip-help {
    padding: 8px 31px 8px 29px;
  }
}

.nova-tip-form {
  &.nova-tip-default,
  &.nova-tip-success,
  &.nova-tip-error,
  &.nova-tip-warning,
  &.nova-tip-info,
  &.nova-tip-help {
    padding: 8px 10px 8px 29px;
  }
}

.nova-tip-success {
  background-color: #f8fff2;
  border: 1px solid #66cc33;
  .nova-tip-close {
    i {
      background-position: -200px -200px;
    }
    &:hover {
      i {
        background-position: -220px -200px;
      }
    }
  }
}

.nova-tip-error {
  background-color: #fff2f2;
  border: 1px solid #ff8888;
  .nova-tip-close {
    i {
      background-position: -200px -220px;
    }
    &:hover {
      i {
        background-position: -220px -220px;
      }
    }
  }
}

.nova-tip-warning {
  background-color: #fffaee;
  border: 1px solid #ffaa00;
  .nova-tip-close {
    i {
      background-position: -200px -240px;
    }
    &:hover {
      i {
        background-position: -220px -240px;
      }
    }
  }
}

.nova-tip-info {
  background-color: #f0f5fc;
  border: 1px solid #88bbee;
  .nova-tip-close {
    i {
      background-position: -200px -260px;
    }
    &:hover {
      i {
        background-position: -220px -260px;
      }
    }
  }
}

.nova-tip-help {
  background-color: #f0f5fc;
  border: 1px solid #88bbee;
  .nova-tip-close {
    i {
      background-position: -200px -280px;
    }
    &:hover {
      i {
        background-position: -220px -280px;
      }
    }
  }
}

.nova-tip-default {
}

.nova-tip-normal {
  padding-left: 20px;
  padding-right: 10px;
  background-color: transparent;
  border: none;
  .nova-icon-xs {
  }
}

.nova-tip-weak {
  padding-left: 0;
  padding-right: 10px;
  color: #999999;
  background-color: transparent;
  border: none;
}

/*endregion*/

/*region 信息提示框*/
.nova-tip-box {
  position: relative;
  font-family: $sans-serif;
  padding: 15px 10px 15px 102px;
  .nova-icon-lg {
    position: absolute;
    left: 0;
    top: 0;
    margin: 20px 0 0 50px;
  }
}

.nova-tip-box-title {
  font-family: $sans-serif;
  color: #333333;
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
}

.nova-tip-box-content {
  font-size: 12px;
  color: #999999;
  line-height: 22px;
}

.nova-tip-box-links {
  line-height: 22px;
  color: #cccccc;
  a, i {
    display: inline-block;
  }
  i {
    vertical-align: top;
    margin: 5px 10px 0 10px;
    text-indent: -9999em;
    height: 12px;
    border-right: 1px solid #cccccc;
  }
}

/*endregion*/

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {
  /* 当设备像素比不小于1.5的时候... */
  .nova-tip-close {
    i {
      background-image: $img2x;
      background-size: 400px;
    }
  }
}
